<div class="mb-3">
  <h4>Listado</h4>


  <div
    class="table-responsive"
  >
    <table
      class="table"
    >
      <thead>
        <tr>
          <th> Position</th>
          <th scope="col">Nombre del personaje</th>
          <th scope="col">Poder de combate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characterList;
         let i= index;
        let isFirst= first;
        let isLast= last;
        let isEven= even;
        let isOdd= odd;
        " class="">
          <td [ngClass]="{
            'table-danger':isLast,
            'table-success':isFirst
        }">{{i+1}}</td>
          <td scope="row">{{character.name}}</td>
          <td>{{character.power}}</td>
          <td><button class="btn btn-danger" (click)="deleteCharacter(character.id)">X</button></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
