<div class="mb-3">
  <h4>Listado</h4>


  <div
    class="table-responsive"
  >
    <table
      class="table table-primary"
    >
      <thead>
        <tr>
          <th scope="col">Nombre del personaje</th>
          <th scope="col">Poder de combate</th>
        </tr>
      </thead>
      <tbody>
        <tr class="">
          <td scope="row">Goku</td>
          <td>10,000</td>
        </tr>
        <tr class="">
          <td scope="row">Vegeta</td>
          <td>11,000</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
