<div class="mb3">
  <form class="row" (ngSubmit)="emitCharacter()">
      <div class="mb-3">
        <label for="name" class="form-label ">Nombre del personaje</label>
        <input
          type="text"
          name="name"
          id="name"
          [(ngModel)]="character.name"
          class="form-control"
          placeholder="Name"
        />
      </div>
      <div class="mb-3">
        <label for="power" class="form-label">Poder de combate</label>
        <input
          type="number"
          name="power"
          id="power"
          class="form-control"
          [(ngModel)]="character.power"
          placeholder="Poder de Combate"
        />
      </div>
      <button
        type="submit"
        class="btn btn-outline-primary  mb-2"
      >
        Agregar
      </button>
      

</form>

</div>
